In [32]:
# First create a demo by visualizing the trajs of NewYork City's taxis.
# detailed documents refer toï¼š https://datashader.org/api.html
import datashader as ds
import pandas as pd
from colorcet import fire
from datashader import transfer_functions as tf

df = pd.read_csv('../data/taxi/nyc_taxi.csv', usecols=['dropoff_x', 'dropoff_y'])
df.head()

      dropoff_x     dropoff_y
0 -8.234835e+06  4.975627e+06
1 -8.237021e+06  4.976875e+06
2 -8.238124e+06  4.971127e+06
3 -8.238108e+06  4.974457e+06
4 -8.236804e+06  4.975483e+06

In [35]:
df = pd.read_csv('../data/checkins/weeplaces/weeplace_checkins.csv', usecols=['lat', 'lon'])
df.head()

         lat        lon
0  40.736300 -73.992200
1  41.556974 -72.657571
2  41.558853 -72.648618
3  40.726144 -74.008348
4  40.733075 -73.991478

In [37]:
df = pd.read_csv('../data/checkins/weeplaces/weeplace_friends.csv')
df.head()

       userid1         userid2
0  fred-wilson  justin-shaffer
1  fred-wilson     bijan-sabet
2  fred-wilson          mark-g
3  fred-wilson        ty-white
4  fred-wilson     simon-saint